@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>
    <div class="socialmedia">
        <a href="https://facebook.com"><img src="~/Images/fb.svg" /></a>
        <a href="https://instagram.com"><img src="~/Images/insta.svg" /></a>
        <a href="https://twitter.com"><img src="~/Images/twitter.svg" /></a>
        <a href="https://google.com"><img src="~/Images/google.svg" /></a>
        <a href="https://linkedin.com"><img src="~/Images/linkedin.svg" /></a>
    </div>
    <div>@Model.Value("footerText")</div>
</footer>